<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <!--
            <ModulePaths>
              <Include>
                <ModulePath>.*CarLookUp.*</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>UnitTest.*</ModulePath>
              </Exclude>
            </ModulePaths>
            -->
            <Functions>
              <Include>
                <Function>^CarLookUp.Data.Repositories\..*</Function>
                <Function>^CarLookUp.Services.Services\..*</Function>
                <Function>^CarLookUp.Web.Controllers\..*</Function>
              </Include>
              <!--<Exclude>
                <Function>^CarLookUp.Core.Ioc\..*</Function>
                <Function>^CarLookUp.Core.Models\..*</Function>
                <Function>^CarLookUp.Core.Constants\..*</Function>
                <Function>^CarLookUp.Core.ApplicationSettings\..*</Function>
                <Function>^CarLookUp.Core.Enums\..*</Function>
                <Function>^CarLookUp.Core.Mappers\..*</Function>
                <Function>^CarLookUp.Core.Exceptions\..*</Function>
                <Function>^CarLookUp.Core.Utilities\..*</Function>

                <Function>^CarLookUp.Data.DAL\..*</Function>
                <Function>^CarLookUp.Data.Entities\..*</Function>
                <Function>^CarLookUp.Data.Migrations\..*</Function>
                <Function>^CarLookUp.Data.Ioc\..*</Function>
                <Function>^CarLookUp.Data.Mappers\..*</Function>

                <Function>^CarLookUp.Services.Ioc\..*</Function>
                <Function>^CarLookUp.Services.Mappers\..*</Function>

                <Function>^CarLookUp.Web.Areas\..*</Function>
                <Function>^CarLookUp.Web.App_Data\..*</Function>
                <Function>^CarLookUp.Web.App_Start\..*</Function>
                <Function>^CarLookUp.Web.Ioc\..*</Function>
                <Function>^CarLookUp.Web.ViewModels\..*</Function>
                <Function>^CarLookUp.Web.Mappers\..*</Function>
                <Function>^CarLookUp.Web.Filters\..*</Function>

                <Function>*\.*Interfaces\..*</Function>
                <Function>*\.*interfaces\..*</Function>
              </Exclude>
              -->
              <Exclude>
                <Function>^CarLookUp.Data.Repositories.UnitOfWork.*</Function>
              </Exclude>
            </Functions>

            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
